<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tim khach hang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Tim khach hang</h1>
    <br>
    <form action="" method="post">       
        <div class="form-group">
            <input type="text" class="form-control" style="width:50%;" placeholder="Ho Ten" name="hoten" value="{{
          request.form.hoten }}">
        </div>
      <input class="btn btn-success" type="submit" value="Tim kiem">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
    <a href="/display_user" >
      <button type="button">Back</button>
    </a> 
</div>
</body>
</html>